# メモファイル（作成されたものはすべて除外）
/memo/
/memo/*

# Bleve インデックス（フォルダ形式）
**/*.bleve
**/*.bleve/

# その他一時ファイル・ログなど
*.log
*.swp
*.bak
*.bolt
*.zap
*.txt
*.exe
*.zip

# VSCodeやOS由来のファイル
.vscode/
.idea/
.DS_Store
Thumbs.db
config.yaml

# リリース関連
/Release/
/Release/*